# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
vision_env/

# Environment Variables
.env

# Uploaded Files
uploads/

# IDE
.vscode/
.idea/

# Logs
*.log

# Build
dist/
build/
*.egg-info/

vision.db